body{
    height: 100vh;
    background-color: gray;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/75/9b/d1/759bd1ea0b3a8c9f7b529e7dc85da53d.jpg');
}

.tabuleiro{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8,1fr);
    border: 1px solid black;
    width: 50rem;
    height: 30rem;
    background-color: white;
}

.quadrado{
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
    width: 40%;
    border-radius: 50%;
    cursor: pointer;
}

#pecasCapturadasPretas{
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 50rem;
    height: 10rem;
    border-radius: 6px;
    background-image: url('https://thumbs.dreamstime.com/b/homem-no-p%C3%A2ntano-assombrado-com-uma-tocha-m%C3%A1gica-que-anda-estilo-digital-da-arte-pintura-ilustra%C3%A7%C3%A3o-141583703.jpg');
    background-position: cover;
}

#pecasCapturadasPretas img{
    border: 1px solid red;
    width: 5%;
}



#pecasCapturadasBrancas{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50rem;
    height: 10rem;
    border-radius: 6px;
    background-image: url('https://static8.depositphotos.com/1378260/850/v/600/depositphotos_8509572-stock-illustration-savannah-sunset.jpg');
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}

#pecasCapturadasBrancas img{
    border: 1px solid red;
    width: 5%;
}